<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfsoft.certificate.mapper.db1.ZzWorkCertificateLogsMapper">
    <resultMap id="BaseResultMap" type="com.zfsoft.certificate.pojo.ZzWorkCertificateLogs">
        <!--@Table zzwk_certificate_logs-->
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="ATTA_OID" jdbcType="VARCHAR" property="attaOid"/>
        <result column="BIZ_CODE" jdbcType="VARCHAR" property="bizCode"/>
        <result column="BIZ_NAME" jdbcType="VARCHAR" property="bizName"/>
        <result column="CER_STATUS" jdbcType="VARCHAR" property="cerStatus"/>
        <result column="CERTIFICATE_CODE" jdbcType="VARCHAR" property="certificateCode"/>
        <result column="CONTENT_CODE" jdbcType="VARCHAR" property="contentCode"/>
        <result column="CONTENT_NAME" jdbcType="VARCHAR" property="contentName"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="DATA" jdbcType="VARCHAR" property="data"/>
        <result column="DELETE_STATE" jdbcType="VARCHAR" property="deleteState"/>
        <result column="FLAG" jdbcType="VARCHAR" property="flag"/>
        <result column="ID_CARD" jdbcType="VARCHAR" property="idCard"/>
        <result column="INFO_CODE" jdbcType="VARCHAR" property="infoCode"/>
        <result column="INFO_VALIDITY_BEGIN" jdbcType="VARCHAR" property="infoValidityBegin"/>
        <result column="INFO_VALIDITY_END" jdbcType="VARCHAR" property="infoValidityEnd"/>
        <result column="MODEL_ID" jdbcType="VARCHAR" property="modelId"/>
        <result column="MODIFY_DATE" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode"/>
        <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName"/>
        <result column="ORG_TRUST_CODE" jdbcType="VARCHAR" property="orgTrustCode"/>
        <result column="OWNER_ID" jdbcType="VARCHAR" property="ownerId"/>
        <result column="OWNER_NAME" jdbcType="VARCHAR" property="ownerName"/>
        <result column="RESULT" jdbcType="VARCHAR" property="result"/>
        <result column="STYLE_ID" jdbcType="VARCHAR" property="styleId"/>
        <result column="TYPE" jdbcType="VARCHAR" property="type"/>
        <result column="USER_CODE" jdbcType="VARCHAR" property="userCode"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="VERSION" jdbcType="VARCHAR" property="version"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID, ATTA_OID, BIZ_CODE, BIZ_NAME, CER_STATUS, CERTIFICATE_CODE, CONTENT_CODE, CONTENT_NAME,
        CREATE_DATE, `DATA`, DELETE_STATE, FLAG, ID_CARD, INFO_CODE, INFO_VALIDITY_BEGIN,
        INFO_VALIDITY_END, MODEL_ID, MODIFY_DATE, ORG_CODE, ORG_NAME, ORG_TRUST_CODE, OWNER_ID,
        OWNER_NAME, `RESULT`, STYLE_ID, `TYPE`, USER_CODE, USER_NAME, VERSION
    </sql>
</mapper>